from automudo.ui.user_selection import AutoselectModes


# UI SETTINGS

# Items shown per page (usually search results).
ITEMS_PER_PAGE = 3


# ALBUM METADATA RETRIEVAL SETTINGS

# Used for Discogs queries. Please get your own key:
# 1. Go to https://www.discogs.com/developers/
# 2. Register
# 3. Create a server key and put it here
DISCOGS_API_KEY = '<ENTER-YOUR-DISCOGS-API-KEY-HERE>'

# Returns less search results for album metadata, but more accurate ones.
MASTER_RELEASES_ONLY = True

# Most of the time, autoselecting an album if it is the only match works well.
ALBUM_METADATA_AUTOSELECTION_MODE = AutoselectModes.AUTOSELECT_IF_ONLY


# TRACKER SETTINGS

# For rutracker login. Please register in:
# http://rutracker.org/forum/profile.php?mode=register
RUTRACKER_USERNAME = '<ENTER-YOUR-RUTRACKER-USERNAME-HERE>'
RUTRACKER_PASSWORD = '<ENTER-YOUR-RUTRACKER-PASSWORD-HERE>'

# The output dir for the .torrent files.
TORRENTS_DIR = r'C:\Temp\Torrents'

# Note that autoselecting the only torrent might sometimes be a bad idea.
# For instance, if the tracker only has the album in a lossy format
# but you want it in a lossless format, you would probably want to
# search for it in another tracker instead of downloading it from there.
TORRENT_AUTOSELECTION_MODE = AutoselectModes.NEVER_AUTOSELECT


# ADVANCED SETTINGS

# Used for HTTP requests. No need to change this.
USER_AGENT = 'automudo'
